fastapi
uvicorn[standard]
python-multipart
python-dotenv
requests
numpy
pytz
nest-asyncio
streamlit
rank_bm25

google-genai

google-cloud-storage
google-cloud-aiplatform
google-cloud-discoveryengine
google-cloud-documentai
cloud-sql-python-connector

qdrant-client
flashrank
redis
redisvl
sqlalchemy
pg8000
psycopg[binary]
psycopg-pool

langchain
langgraph
langgraph-checkpoint-postgres
langchain-google-vertexai
langchain-groq
langchain-community
langchain-openai
pydantic>=2.0.0

unstructured
python-pptx
python-docx
pypdf
beautifulsoup4
docling
trafilatura

langsmith
logfire
logfire[fastapi]
logfire[requests]
loguru

ruff
black
pre-commit

ascii_colors
